<div class="w-full px-8 {{ background_padding ?? 'py-8' }}"
    style="
        background-color: {{ background_color ?? 'transparent' }};
        {{ if background_image }}
           background-image: url('{{ background_image }}'), linear-gradient({{background_color ?? 'transparent'}}, {{background_color ?? 'transparent'}});
        {{ /if }}
        background-size: {{ background_size ?? 'cover' }};
        background-position: {{ background_position ?? 'center center' }};
        text-align: {{ text_alignment ?? 'left' }};
        background-blend-mode: {{ background_blend_mode ?? 'normal' }};
    "
    >
    {{ if show_toc }}
    <div class="flex flex-row flex-wrap lg:flex-no-wrap">
        <div class="w-full mb-8 lg:w-1/4">
        {{ partial:toc }}
        </div>
        <div class="w-full lg:w-3/4">
            <div class="prose prose-xl {{ if invert_text_colors }}prose-invert {{ /if }}max-w-7xl">
                {{ content | toc }}
            </div>
        </div>
    </div>
    {{ else }}
    <div class="prose prose-xl {{ if invert_text_colors }}prose-invert {{ /if }}max-w-7xl mx-auto">
        {{ content }}
            {{ partial src="blocks/{type}" }}
        {{ /content }}
    </div>
    {{ /if }}
</div>
