/node_modules
/public/hot
/public/storage
/public/js
/public/css
/public/mix-manifest.json
/public/vendor
/storage/*.key
/storage/forms/*
/storage/glide
/storage/statamic/attributes-cache
/storage/statamic/glide
/storage/statamic/search
/storage/statamic/stache-locks
/storage/statamic/tokens
/storage/statamic/updater
/storage/statamic/users
/vendor
.env
.env.backup
.phpunit.result.cache
.php_cs.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.DS_Store
.idea
