<li class="flex flex-row flex-no-wrap my-8 border border-primary relative overflow-hidden">
    {{ if registration_link }}
    <a class="absolute -right-24 -top-24 w-48 h-48 bg-brand transform rotate-45 flex items-end p-2 justify-center text-white uppercase text-center underline" href="{{ registration_link }}" target="_blank" rel="noopener noreferrer">Register<br/>here</a>
    {{ /if }}
    <div class="bg-secondary flex items-center justify-center">
        <div class="text-center text-white p-4 w-24 lg:w-32">
            <span class="text-2xl font-bold">{{ start | iso_format("MMM") }}</span><br/>
            <span class="font-bold">{{ start | iso_format("Do") }}</span>
        </div>
    </div>
    <div class="flex flex-col flex-no-wrap py-4">
        <div class="px-4 lg:px-8 py-16 lg:py-0 prose prose-sm lg:prose-xl max-w-none">
            <h3>{{ title }}</h3>
            {{ description }}
        </div>
        <div class="h-1/4 pl-4 lg:pl-8 pt-8 pb-4 pr-4 text-sm flex flex-row items-center">
            {{ if start_time }}
                <span class="mr-2 lg:text-lg"><strong>Starts:</strong> {{ start_time }}</span>
            {{ /if }}
            {{ if end_time }}
                <span class="mr-2 lg:text-lg"><strong>Ends:</strong> {{ end_time }}</span>
            {{ /if }}
            {{ if all_day }}
                <span class="bg-primary rounded p-1 mr-2 font-bold text-xs text-white text-center">ALL DAY</span>
            {{ /if }}
            {{ if multi_day }}
                <span class="bg-brand rounded p-1 mr-2 font-bold text-xs text-white text-center">MULTI DAY</span>
            {{ /if }}
            {{ if recurrence }}
                <span class="bg-heading rounded p-1 mr-2 font-bold text-xs text-white text-center">RECURRING</span>
            {{ /if }}
        </div>
    </div>
</li>
